.goal-list {
  list-style: none;
  margin: 2rem 0;
  padding: 0;
}

.goal-list li {
  margin: 1rem 0;
  border: 1px solid #ccc;
  padding: 1.5rem;
  border-radius: 1rem;
}

.app {
  font-family: "Helvetica";
}

.course-goals {
  margin: 1rem;
}

.course-goals h1 {
  text-align: center;
  font-family: "Helvetica";
}

.new-goal {
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 2rem;
  border-radius: 1.5rem;
}

.new-goal input {
  margin-right: 1rem;
  padding: 0.5rem;
}
